<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.cdnfonts.com/css/satoshi" rel="stylesheet">
	</link>
	<style>
		* {
			margin: 0;
			padding: 0;
		}
	</style>
	<title>Report</title>
</head>

<body style="font-family: 'Satoshi', sans-serif; margin: 0; padding: 0; color: #333; 	font-style: normal; line-height: normal;
">
	<header style="padding: 22px 20px; width: 100%;
	align-items: center;
	background: #222B44;">
		<h1 style="color: #FFF;
		font-size: 20px;
		font-weight: 900;">DAILY REPORT FOR 28 JULY 2023</h1>
	</header>
	<h2 style="padding: 16px 20px; width: 100%; background: #fff;
	font-size: 16px;
	font-weight: 900;">
		WAREHOUSE 1
	</h2>

	<main>
		<section>
			<h3 style="padding: 16px 20px; background: #EDF3FE; color: #5795F7;
			font-size: 14px;
			font-weight: 700;">
				INVENTORY
			</h3>

			<!-- Stock section -->
			<div class="">
				<div style="padding: 16px 20px; background: #F8F9FC; color: rgba(51, 51, 51, 0.50);
				font-size: 14px;
				font-weight: 700; display: flex; justify-content: space-between;">
					<p style="font-size: 12px;
					font-weight: 500; width: 50%;">
						Stock Added
					</p>
					<p style="font-size: 12px;
					font-weight: 500; width: 50%;">
						Stock Added
					</p>

				</div>
				<table style=" width: 100%; padding: 0; border-collapse: collapse; font-size: 12px; font-weight: 500;">
					<tr>
						<td style="padding: 16px 12px; border: 1px solid #E1E6EF; " width="40">1</td>
						<td style="padding: 16px 12px; border: 1px solid #E1E6EF; " width="212">Catfish</td>
						<td style="padding: 16px 12px; border: 1px solid #E1E6EF; ">1024</td>
					</tr>
					<tr>
						<td style="padding: 16px 12px; border: 1px solid #E1E6EF; ">2</td>
						<td style="padding: 16px 12px; border: 1px solid #E1E6EF; ">Beef</td>
						<td style="padding: 16px 12px; border: 1px solid #E1E6EF; ">1024</td>
					</tr>
					<tr>
						<td style="padding: 16px 12px; border: 1px solid #E1E6EF; ">3</td>
						<td style="padding: 16px 12px; border: 1px solid #E1E6EF; ">Chicken</td>
						<td style="padding: 16px 12px; border: 1px solid #E1E6EF; ">1024</td>
					</tr>
				</table>
			</div>

			<!-- Stock Sold section -->
			<div class="">
				<div style="padding: 16px 20px; background: #F8F9FC; color: rgba(51, 51, 51, 0.50);
						font-size: 14px;
						font-weight: 700;">
					<p style="font-size: 12px;
							font-weight: 500; width: 50%;">
						Stock Sold
					</p>
				</div>
				<table style=" width: 100%; padding: 0; border-collapse: collapse; font-size: 12px; font-weight: 500;">
					<tr>
						<td style="padding: 16px 12px; border: 1px solid #E1E6EF; " width="40">1</td>
						<td style="padding: 16px 12px; border: 1px solid #E1E6EF; " width="212">Catfish</td>
						<td style="padding: 16px 12px; border: 1px solid #E1E6EF; ">1024</td>
					</tr>
					<tr>
						<td style="padding: 16px 12px; border: 1px solid #E1E6EF; ">2</td>
						<td style="padding: 16px 12px; border: 1px solid #E1E6EF; ">Beef</td>
						<td style="padding: 16px 12px; border: 1px solid #E1E6EF; ">1024</td>
					</tr>
				</table>
			</div>

		</section>

		<section>
			<h3 style="padding: 16px 20px; background: #EDF3FE; color: #5795F7;
			font-size: 14px;
			font-weight: 700;">
				TRANSACTIONS
			</h3>

			<!-- Dockyard Sales section -->
			<div class="">
				<div style="padding: 16px 20px; background: #F8F9FC; color: rgba(51, 51, 51, 0.50);
				font-size: 14px;
				font-weight: 700;">
					<p style="font-size: 12px;
					font-weight: 500; width: 50%;">
						Dockyard Sales
					</p>
				</div>
				<table style=" width: 100%; padding: 0; border-collapse: collapse; font-size: 12px; font-weight: 500;">
					<tr>
						<td style="padding: 16px 12px; border: 1px solid #E1E6EF; " width="40">1</td>
						<td style="padding: 16px 12px; border: 1px solid #E1E6EF; " width="212">Chicken</td>
						<td style="padding: 16px 12px; border: 1px solid #E1E6EF; ">500,000</td>
					</tr>
					<tr>
						<td style="padding: 16px 12px; border: 1px solid #E1E6EF; ">2</td>
						<td style="padding: 16px 12px; border: 1px solid #E1E6EF; ">Beef</td>
						<td style="padding: 16px 12px; border: 1px solid #E1E6EF; ">200,000</td>
					</tr>
					<tr>
						<td style="padding: 16px 12px; border: 1px solid #E1E6EF; "></td>
						<td style="padding: 16px 12px; border: 1px solid #E1E6EF; ">Total</td>
						<td style="padding: 16px 12px; border: 1px solid #E1E6EF; ">700,000</td>
					</tr>
				</table>
			</div>

			<!-- Warehouse Sold section -->
			<div class="">
				<div style="padding: 16px 20px; background: #F8F9FC; color: rgba(51, 51, 51, 0.50);
				font-size: 14px;
				font-weight: 700;">
					<p style="font-size: 12px;
					font-weight: 500; width: 50%;">
						Warehouse Sales
					</p>
				</div>
				<table style=" width: 100%; padding: 0; border-collapse: collapse; font-size: 12px; font-weight: 500;">
					<tr>
						<td style="padding: 16px 12px; border: 1px solid #E1E6EF; " width="40">1</td>
						<td style="padding: 16px 12px; border: 1px solid #E1E6EF; " width="212">Chicken</td>
						<td style="padding: 16px 12px; border: 1px solid #E1E6EF; ">500,000</td>
					</tr>
					<tr>
						<td style="padding: 16px 12px; border: 1px solid #E1E6EF; ">2</td>
						<td style="padding: 16px 12px; border: 1px solid #E1E6EF; ">Beef</td>
						<td style="padding: 16px 12px; border: 1px solid #E1E6EF; ">200,000</td>
					</tr>
					<tr>
						<td style="padding: 16px 12px; border: 1px solid #E1E6EF; "></td>
						<td style="padding: 16px 12px; border: 1px solid #E1E6EF; ">Total</td>
						<td style="padding: 16px 12px; border: 1px solid #E1E6EF; ">700,000</td>
					</tr>
				</table>
			</div>

		</section>

		<section>
			<h3 style="padding: 16px 20px; background: #EDF3FE; color: #5795F7;
			font-size: 14px;
			font-weight: 700;">
				USER MANAGEMENT
			</h3>

			<!-- User section -->
			<div class="">
				<table style=" width: 100%; padding: 0; border-collapse: collapse; font-size: 12px; font-weight: 500;">
					<tr>
						<td style="padding: 16px 12px; border: 1px solid #E1E6EF; " width="40">1</td>
						<td style="padding: 16px 12px; border: 1px solid #E1E6EF; " width="212">New Users/Staff</td>
						<td style="padding: 16px 12px; border: 1px solid #E1E6EF; ">10</td>
					</tr>
					<tr>
						<td style="padding: 16px 12px; border: 1px solid #E1E6EF; ">2</td>
						<td style="padding: 16px 12px; border: 1px solid #E1E6EF; ">Updated Users/Staff</td>
						<td style="padding: 16px 12px; border: 1px solid #E1E6EF; ">10</td>
					</tr>
					<tr>
						<td style="padding: 16px 12px; border: 1px solid #E1E6EF; ">3</td>
						<td style="padding: 16px 12px; border: 1px solid #E1E6EF; ">Deleted/Deactivated Users</td>
						<td style="padding: 16px 12px; border: 1px solid #E1E6EF; ">2</td>
					</tr>
				</table>
			</div>
		</section>
	</main>
</body>

</html>