<h3 style="text-align: center; margin-bottom: 30px; font-size: 26px; font-weight: 700;">Welcome to Wusuaa </h3>

<p style="line-height: 28px; margin-bottom: 16px;">
    We are excited to have you here. Your account has been created. Please see below your login credentials to
    gain access to the platform
</p>

<p>
    <span>Username:</span>
    <span><b>{{email}}</b></span>
</p>

<p>
    <span>Password:</span>
    <span><b>{{password}}</b></span>
</p>